/AulaConceitos/nbproject/private/
/AulaConceitos/build/
/AulaConceitos/dist/
/CalculaIdade/nbproject/private/
/CalculaIdade/build/
/CalculaIdadeIfElse/nbproject/private/
/CalculaIdadeIfElse/build/
/CalculaIdadeSomaOperadores/nbproject/private/
/CalculaIdadeSomaOperadores/build/
/Projeto swing/Aula1/nbproject/private/
